@font-face {
    font-family: $font-suisse;
    src: url('../fonts/suisseIntl.woff2') format('woff2'),
        url('../fonts/suisseIntl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-suisse;
    src: url('../fonts/suisseIntl-light.woff2') format('woff2'),
        url('../fonts/suisseIntl-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $font-george;
    src: url('../fonts/george-regular.woff2') format('woff2'),
        url('../fonts/george-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

